.wrapper {
  margin: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.task {
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  height: 200px;
  width: 200px;
  padding: 10px 5px;
  margin: 10px 5px;
  border-radius: 5px;
  position: relative;
}

.task p {
  color: #fff;
  font-size: 1.1rem;
  text-shadow: 2px 2px 3px black;
  overflow-X: hidden;
}

.task p::-webkit-scrollbar {
  width: 0px;
}

.task form {
  margin-bottom: 28px;
}

.task label {
  display: inline-block;
  font-size: 1rem;
}

.task input {
  margin: 0 5px 0 0;
  vertical-align: middle;
}

.task button {
  position: absolute;
  bottom: 15px;
  left: 38%;
  border: none;
  outline: none;
  background: #f85253;
  padding: 5px;
  border-radius: 5px;
  color: #f7f7f7;
}
.task button:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.subTitle {
  color: #095694a1;
  margin: 0 5px;
  font-size: 1.5rem;
  margin: 15px 0;
}