.wrapper {
  margin: 0 5%;
}

.title {
  font-size: 2rem;
  color: #5fcace;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 5%;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #0377a1;
  font-size: 1.4rem;
  margin: 5% 0 0;
  position: relative;
}

.field label {
  text-align: left;
  display: block;
}

.field input {
  background: #0000000a;
  border: 1px solid #5fcace;
  color: #696969;
  font-size: 1.4rem;
  padding-left: 10px;
  width: 100%;
}

.field input:focus {
  outline: none;
  border-color: #5fcace;
  box-shadow: 0 0 1px 1px #52ebd2;
}

.fieldTerms {
  margin: 5% 0 0;
  font-size: 0.7rem;
}

.fieldTerms label {
  margin: 0 0 0 5px;
  align-content: center;
  vertical-align: 3px;
  color: #696969;
}

.fieldTerms a {
  text-decoration: underline;
}

.button {
  cursor: pointer;
  font-family: "El messiri";
  margin: 5% 0 0;
  font-size: 1.2rem;
  padding: 0 5%;
  color: #0377a1;
  background: radial-gradient(#56efd15c, #01acea5c);
  border: none;
  transition: all 220ms;
  outline: 0px;
}
.button:hover {
  background: radial-gradient(#01acea75, #56efd175);
  transform: translate3d(3px, -2px, 0);
  box-shadow: -2px 2px 1px 1px #69696926;
}

.link {
  font-size: 0.9rem;
  color: #696969;
}

.link a {
  text-decoration: underline;
  color: #01acea;
}

/* Tooltips wrapper */
.icon {
  width: 23px;
  height: 23px;
  position: absolute;
  left: 8px;
  bottom: 8px;
}

.tooltips {
  display: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  color: #000000;
  position: absolute;
  background: #ffffff;
  text-align: right;
  padding: 12px 9px 12px 40px;
  height: auto;
  width: auto;
  border-radius: 5px;
  left: 10%;
  border: 1px solid rgba(0, 0, 0, 0.58);
  bottom: -45px;
  box-shadow: 3px 5px 5px 0 rgba(129, 129, 129, 0.3);
}

.tooltips::before {
  content: "";
  display: block;
  position: absolute;
  top: -9px;
  left: 9px;
  /*   margin-left:-8px; */
  height: 0;
  width: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid rgba(0, 0, 0, 0.58);
}

.tooltips::after {
  z-index: 1;
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  left: 9px;
  /*   margin-left:-8px; */
  height: 0;
  width: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ffffff;
}
