.wrapper input {
  position: relative;
  background: #0000000a;
  border: 1px solid #5fcace;
  color: #696969;
  font-size: 1.4rem;
  padding-left: 10px;
  padding-right: 20px;
  /* width: 100%; */
}

.wrapper input:focus {
  outline: none;
  border-color: #5fcace;
  box-shadow: 0 0 1px 1px #52ebd2;
}

.buttons {
  margin: 10px;
}

.buttons button {
  border-radius: 5px;
  opacity: .5;
  width: 100px;
  height: auto;
  padding: 0 10px;
  margin: 0 10px;
  cursor: pointer;
  font-family: "El messiri";
  font-size: 1.2rem;
  color: #0377a1;
  background: radial-gradient(#56efd15c, #01acea5c);
  border: none;
  transition: all 220ms;
  outline: 0px;
}
.buttons button:hover {
  opacity: 1;
  background: radial-gradient(#4cabce63, #56efd175);
  transform: translate3d(2px, -1px, 0);
  box-shadow: -1px 1px 1px 1px #69696926;
}